<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Base de données</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-icons.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}"
    />
    <!-- Inline CSS for the square -->
    <style>
      .square {
        width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      #search-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10px;
      }
      /* Style pour la section des résultats de recherche */
      #search-results {
      max-height: 300px; /* Hauteur maximale */
      overflow-y: auto; /* Activation du défilement vertical si nécessaire */
      margin-top: 10px; /* Ajoute un peu d'espace au-dessus de la section */
      }
    </style>
  </head>

  <body id="top">
    <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <i class="bi-back"></i>
            <span>African Business Club</span>
          </a>

          <div class="d-lg-none ms-auto me-4">
            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
          </div>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
              <li class="nav-item">
                <a class="nav-link click-scroll" href="index.html#section_1"
                  >Home</a
                >
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#section_5"
                  id="navbarLightDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Pages</a
                >

                <ul
                  class="dropdown-menu dropdown-menu-light"
                  aria-labelledby="navbarLightDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="contact.html"
                      >Contact Form</a
                    >
                  </li>
                </ul>
              </li>
            </ul>

            <div class="d-none d-lg-block">
              <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
            </div>
          </div>
        </div>
      </nav>

      <header
        class="site-header d-flex flex-column justify-content-center align-items-center"
      >
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-12 mb-5">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Accueil</a>
                  </li>

                  <li class="breadcrumb-item active" aria-current="page">
                    Base de données
                  </li>
                </ol>
              </nav>

              <h2 class="text-white">
                Bienvenue dans <br />
                le drive simplifié
              </h2>
            </div>

            <div class="col-lg-5 col-12">
              <div class="topics-detail-block bg-white shadow-lg">
                <img
                  src="{{ url_for('static', filename='images/topics/undraw_Remote_design_team_re_urdx.png') }}"
                  class="topics-detail-block-image img-fluid"
                  alt="Remote Design Team"
                />
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="topics-detail-section section-padding" id="topics-detail">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12 mt-3 mx-auto">
              <div
                class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5"
              >
                <div class="d-flex">
                  <img
                    src="{{ url_for('static', filename='images/topics/undraw_Remote_design_team_re_urdx.png') }}"
                    class="custom-block-image img-fluid"
                    alt=""
                  />

                  <div class="custom-block-topics-listing-info d-flex">
                    <div>
                      <h5 class="mb-2">Chercher</h5>

                      <p class="mb-0">
                        Topic Listing includes home, listing, detail and contact
                        pages. Feel free to modify this template for your custom
                        websites.
                      </p>

                      <a
                        href="#"
                        class="btn custom-btn mt-3 mt-lg-4"
                        id="search-toggle-btn"
                        >Learn More</a
                      >
                    </div>
                    <div
                      id="search-container"
                      class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5 "
                      style="display: none"
                    >

                      <!-- Section pour afficher les résultats de la recherche -->
                        <section id="search-results" style="display: none;">
                          <h3>Résultats de la recherche :</h3>
                          <ul id="search-results-list"></ul>
                        </section>
                      <button type="button" id="close-search">X</button>
                      <input
                        type="text"
                        id="search-input"
                        placeholder="Search documents..."
                      />
                      <button type="button" id="search-button">Search</button>
                    </div>


                  </div>
                </div>
              </div>
              <div
                class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5"
              >
                <div class="d-flex">
                  <img
                    src="{{ url_for('static', filename='images/topics/undraw_online_ad_re_ol62.png') }}"
                    class="custom-block-image img-fluid"
                    alt=""
                  />

                  <div class="custom-block-topics-listing-info d-flex">
                    <div>
                      <h5 class="mb-2">Déposer</h5>

                      <p class="mb-0">
                        Visit TemplateMo website to download free CSS templates.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit
                        animi necessitatibus
                      </p>

                      <a
                        href="#"
                        class="btn custom-btn mt-3 mt-lg-4"
                        id="learn-more-btn"
                        >Learn More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="site-footer section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-12 mb-4 pb-2">
            <a class="navbar-brand mb-2" href="index.html">
              <i class="bi-back"></i>
              <span>African  </br>Business Club</span>
            </a>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <h6 class="site-footer-title mb-3">Resources</h6>

            <ul class="site-footer-links">
              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">Home</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">How it works</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">FAQs</a>
              </li>

              <li class="site-footer-link-item">
                <a href="#" class="site-footer-link">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
            <h6 class="site-footer-title mb-3">Information</h6>

            <p class="text-white d-flex mb-1">
              <a href="tel: 305-240-9671" class="site-footer-link">
                305-240-9671
              </a>
            </p>

            <p class="text-white d-flex">
              <a href="mailto:info@company.com" class="site-footer-link">
                info@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                English
              </button>

              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" type="button">Thai</button>
                </li>

                <li>
                  <button class="dropdown-item" type="button">Myanmar</button>
                </li>

                <li>
                  <button class="dropdown-item" type="button">Arabic</button>
                </li>
              </ul>
            </div>

            <p class="copyright-text mt-lg-5 mt-4">
              Copyright © 2048 Topic Listing Center. All rights reserved.
              <br /><br />Design:
              <a rel="nofollow" href="https://templatemo.com" target="_blank"
                >TemplateMo</a
              >
              Distribution <a href="https://themewagon.com">ThemeWagon</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        // Gestion du clic sur le bouton "Learn More"
        $("#learn-more-btn").click(function (event) {
          event.preventDefault(); // Empêcher le comportement par défaut du lien
          // Formulaire HTML
          var formContent =
            '<div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">' +
            '<button type="button" class="btn-close float-end" aria-label="Close">&times;</button>' + // Bouton de fermeture
            '<label for="select-pole">Sélectionner un pôle :</label>' +
            '<select class="form-control" id="select-pole">' +
            "{% for dossier in dossiers_racines %}" +
            '<option value="{{ dossier }}">{{ dossier }}</option>' +
            "{% endfor %}" +
            "</select>" +
            '<div class="form-check mt-3">' +
            '<input class="form-check-input" type="checkbox" id="create-folder">' +
            '<label class="form-check-label" for="create-folder">Créer un dossier</label>' +
            "</div>" +
            '<div id="folder-name-group" style="display: none;">' +
            '<label for="folder-name">Nom du dossier :</label>' +
            '<input type="text" class="form-control" id="folder-name">' +
            "</div>" +
            '<button type="button" id="submit-btn" class="btn btn-primary mt-3">Déposer</button>' +
            "</div>";
          // Créer un élément temporaire pour mesurer la hauteur du formulaire
          var tempElement = $(
            '<div style="position:absolute; visibility:hidden;">' +
              formContent +
              "</div>"
          ).appendTo("body");
          // Obtenir la hauteur du formulaire
          var formHeight = tempElement.height();
          // Supprimer l'élément temporaire
          tempElement.remove();
          // Ajouter dynamiquement le carré avec le formulaire et hauteur ajustée
          var squareDiv = $('<div class="square"></div>').css(
            "height",
            formHeight + 40
          ); // Ajouter une marge de 20px
          squareDiv.html(
            '<div class="square-content">' + formContent + "</div>"
          );
          $("body").append(squareDiv);
          // Gérer l'affichage dynamique du champ de saisie du nom du dossier en fonction de la case à cocher
          $("#create-folder").change(function () {
            if ($(this).is(":checked")) {
              $("#folder-name-group").show();
            } else {
              $("#folder-name-group").hide();
            }
          });
          // Gérer le clic sur le bouton de soumission
          $("#submit-btn").click(function () {
            var selectedPole = $("#select-pole").val();
            var createFolder = $("#create-folder").is(":checked");
            var folderName = $("#folder-name").val();
            // Traiter les données selon les besoins
            if (createFolder) {
              // Logique pour créer un dossier et déposer le fichier
              console.log("Pôle sélectionné :", selectedPole);
              console.log("Créer un dossier :", createFolder);
              console.log("Nom du dossier :", folderName);
            } else {
              // Logique pour déposer le fichier sans créer de dossier
              console.log("Pôle sélectionné :", selectedPole);
              console.log("Créer un dossier :", createFolder);
            }
          });
          // Gérer le clic sur le bouton de fermeture
          $(".btn-close").click(function () {
            squareDiv.remove(); // Supprimer la fenêtre modale
          });
        });
    
        // Gestion du clic sur le bouton "Recherche"
        $("#search-toggle-btn").click(function () {
          $("#search-container").toggle(); // Afficher ou masquer la barre de recherche
        });
    
        // Gestion du clic sur le bouton de recherche
        $("#search-button").click(function () {
          var searchTerm = $("#search-input").val();
          // Envoyer une requête AJAX à la route Flask pour la recherche de fichiers
          $.ajax({
            url: '/search',
            method: 'POST',
            data: { search_term: searchTerm },
            success: function (response) {
              // Afficher les résultats de la recherche dans la console
              console.log("Search results:", response);
              // Afficher les résultats de la recherche sur la page
              displaySearchResults(response);
            },
            error: function (error) {
              console.error("Error:", error);
            }
          });
        });
    
        // Fonction pour afficher les résultats de la recherche
        function displaySearchResults(results) {
          // Création de la section des résultats de la recherche
          var searchResultsSection = $('<section id="search-results">').append(
              $('<h3>').text("Résultats de la recherche :"),
              $('<ul id="search-results-list">')
          );

          // Vider la liste des résultats précédents
          searchResultsSection.find('#search-results-list').empty();

          if (results.length > 0) {
              // Si des résultats sont trouvés, les afficher dans une liste
              $.each(results, function (index, result) {
                  var listItem = $("<li>").text(result);
                  searchResultsSection.find('#search-results-list').append(listItem);
              });
          } else {
              // Si aucun résultat n'est trouvé, afficher un message approprié
              var noResultsMessage = $("<li>").text("Aucun résultat trouvé.");
              searchResultsSection.find('#search-results-list').append(noResultsMessage);
          }

          // Vérifier si la section des résultats de la recherche existe déjà
          // Si elle existe, la remplacer, sinon l'ajouter à la fin de la barre de recherche
          if ($('#search-results').length > 0) {
              $('#search-results').replaceWith(searchResultsSection);
          } else {
              $('#search-container').after(searchResultsSection);
          }

          // Afficher la section des résultats de la recherche
          searchResultsSection.show();
        }

    
        // Gestion du clic sur le bouton de fermeture de la barre de recherche
        $("#close-search").click(function () {
          $("#search-container").hide(); // Masquer la barre de recherche lorsque la croix est cliquée
        });
      });
    </script>
    
  </body>
</html>
